<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>処理インデックスページ</title>
    <meta charset="utf-8"/>
</head>
<body>

<p class="function">
<h2>画像アダルト判定</h2>
<form action="#" enctype="multipart/form-data" method="post" th:action="@{/adult/judgment}" th:object="${adultForm}">
    <div>
        ローカル：<input type="file" name="adultTarget" th:field="*{adultTarget}" />
    </div>
    <div>
        URL：<input type="text" name="adultTargetUrl" th:field="*{targetUrl}" />
    </div>
    <input type="submit"/>
</form>
</p>

<p class="function">
<h2>safe content 判定</h2>
<form action="#" enctype="multipart/form-data" method="post" th:action="@{/safe/check}" th:object="${safeContentForm}">
    <!--div>
        ローカル：<input type="file" name="adultTarget" th:field="*{adultTarget}" />
    </div-->
    <div>
        URL：<input type="text" name="safeContentUrl" th:field="*{contentUrl}" />
    </div>
    <input type="submit"/>
</form>
</p>

</body>
</html>