<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>その写真はこざけポーズか</title>
    <meta charset="utf-8"/>
</head>
<body>

<p class="function">
<h2>画像こざけポーズ判定</h2>
<form action="#" enctype="multipart/form-data" method="post" th:action="@{/kozake/judgment}" th:object="${kozakeForm}">
    <div>
        ローカル：<input type="file" name="targetFile" th:field="*{targetFile}" />
    </div>
    <div>
        URL：<input type="text" name="targetUrl" th:field="*{targetUrl}" />
    </div>
    <input type="submit"/>
</form>
</p>

</body>
</html>