<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>アダルト画像判定</title>
    <meta charset="utf-8"/>

    <style type="text/css">
        .displayTarget {
            width: 35%;
        }
    </style>
    <script type="text/javascript">

        function returnIndex() {
            document.location.href = '/cvSandbox';
        }

    </script>
</head>
<body>

<h2>アダルト画像判定結果</h2>
<h2 th:text="${display.result}"></h2>

<article>
    <h3>対象画像</h3>
    <img th:attr="src=@{${display.imgUrl}}" alt="" class="displayTarget"/>
</article>

<article>
    <h3>18禁スコア</h3>
    <span th:text="${display.adultScore}"></span>
</article>

<article>
    <h3>きわどいスコア</h3>
    <span th:text="${display.racyScore}"></span>
</article>

<p>
    <button type="button" onclick="returnIndex();">再実験する</button>
</p>

</body>
</html>